body {
    background-color: white;
    font-family: "Comic Sans MS", "Comic Sans", Tahoma, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden
}

.pavadinimas {
    font-size: 6rem;

    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 2rem;
    margin-bottom: -30px;
}

.content {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 80px;
    margin-top: -20px;
}

.small-text {
    margin-top: 3vh;
    font-size: 0.5vw;
}

img {
    display: block;
    width: 20vw;
    position: absolute;
    bottom: 10vw;
    left: 60vw;
    top: 15vw;
}


@media (max-width: 50rem) {
    .pavadinimas {
        font-size: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .small-text {
        margin-top: 3vh;
        font-size: 1.3vh;
    }

    p {
        font-size: 1.5rem;
        margin-top: 7vh;
    }

    .content {
        text-align: left;
        margin-left: 5vw;
        margin-right: 5vw;
        word-wrap: break-word;
    }

    body {
        overflow-x: hidden;
        text-align: left;
    }

    img {
        top: 550px;
        right: 0;
        bottom: 0px;
        left: 0px;
        width: 50%;
        display: grid;
        place-items: center;
    }
}